[submodule "methods/eeg-conformer/upstream"]
	path = methods/eeg-conformer/upstream
	url = https://github.com/woo0kim/EEG-Conformer.git
[submodule "methods/cbramod/upstream"]
	path = methods/cbramod/upstream
	url = https://github.com/woo0kim/CBraMod.git
	ignore = untracked
